.chip {
    display: flex;
    /* min-width: 0px; */
    min-width: max-content;
    background-color: #e6e6e6;
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    color: #333333;
    font-size: 12px;
    padding: 3px 3px 3px 6px;
    box-sizing: border-box;
}

.cross {
    cursor: pointer;
    align-items: center;
    display: flex;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

.cross :hover {
    background-color: #ffbdad;
    color: #de350b;
}