.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
    padding: 10px 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
}

.salary {
    font-size: 14px !important;
    font-weight: 400;
    margin: 8px 0 !important;
    color: #4d596a;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.experience-label {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #8b8b8b;
}

.experience-value {
    font-size: 14px;
    line-height: 1.5;
}